<form id="search-form" action="<%= url_for(codex_search_path) %>" method="GET">
  <strong>Search (charcter name or special text):</strong> <br />
  <input type="text" size="80" name="query" value="<%= @query %>" />
  <button>search</button>
</form>
