<% @title = @user.name %>
<h2><%= @user.name %></h2>

<%= @characters.size %> characters created so far.

<ul>
<% @characters.each do |character| %>
  <li>
    <%= link_to character.name, controller: '/characters', action: 'view', id: character.id %>
  </li>
<% end %>
</ul>
