<p><strong>IntenseDebate</strong> comments are formatted using HTML (angle-bracketed stuff), not BBCode (square brackets).
Here is a short guide to some simple formatting: </p>
<pre>
&lt;strong&gt;Some bold text&lt;/strong&gt;
&lt;em&gt;Some italic text&lt;/em&gt;
&lt;a href="http://boardgamegeek.com/"&gt;Some link text&lt;/a&gt;
&lt;img src="http://geekdo-images.com/images/geekdo/bgg_cornerlogo.png"&gt;

Use

double spacing to create 

paragraphs.
</pre>
