<h2>Welcome!</h2> 

<a target="_blank" href="/images/eleanor_bludsturm_large.png"><img style="float: right; margin: 0 0 1em 1em;" src="/images/eleanor_bludsturm.png"/></a>

<p>
This is the Lair of Lith application site, 
where you can generate cards as well as save them 
if you create an account. 
</p>

<p>
Currently we can generate character cards, as well 
as implementing the official algorithms so that you 
can interactively balance your characters. 
</p>

<p>
<strong>Note:</strong> We support rendering portraits 
but do not support uploading them. Thus you can always 
choose a portrait to go with a card when you generate 
it, even if you don't own the card---you won't be changing 
the underlying card data itself.
</p>

<p>
Any feedback, bug reports, and feature requests can be 
made to <a href="http://boardgamegeek.com/article/13107069">this BGG Thread</a> or privately via our <a href="/contact">contact form</a>.
</p>

<h3>Recently Created Characters</h3> 

<ol reversed="reversed">
<% @characters.each do |c| %>
  <li>
    <%= link_to c['name'], character_path(c['user_slug'], c['slug'])%>
    by <%= link_to c['user_name'], user_path(c['user_slug']) %>
    on <%= c['created_at'] %>
  </li>
<% end %>
</ol>
