<h2>Welcome!</h2> 

<p>
This is the Lair of Lith application site, 
where you can generate cards as well as save them 
if you create an account. 
</p>

<p>
Currently we can generate character cards, as well 
as implementing the official algorithms so that you 
can interactively balance your characters. 
</p>
