<h2>Welcome!</h2> 

<p>
This is the Lair of Lith application site, 
where you can generate cards as well as save them 
if you create an account. 
</p>

<p>
Currently we can generate character cards, as well 
as implementing the official algorithms so that you 
can interactively balance your characters. 
</p>

<h3>Recently Created Characters</h3> 

<ol>
<% @characters.each do |c| %>
  <li>
    <%= link_to c['name'], controller: 'characters', action: 'view', id: c['id'] %>
    by <%= link_to c['user_name'], controller: 'users', action: 'view', id: c['uid'] %>
    on <%= c['created_at'] %>
  </li>
<% end %>
</ol>
