<% @title = "Viewing #{@character.name} by #{@owner.name}" %>
<h2>Viewing <%= @character.name %> by <%= @owner.name %></h2>

<p><%= link_to 'All versions', controllers: 'characters', action: 'view', id: @character.id  %></p>

<%= render 'characters/generator' %>
