<h2>Character Creation Guide</h2>

<p>Data taken and/or paraphrased for brevity from the official Duel of Ages II rulebook.</p>

<ul>
  <li><a href="#age-setting">Age and Setting</a></li>
  <li><a href="#circle">Circle</a></li>
  <li><a href="#ratings">Character Ratings</a></li>
  <li><a href="#bonuses">Bonus Symbols</a></li>
</ul>

<style type="text/css">
  th, td { padding: 0.25em; vertical-align: top; }
  th { text-align: right; }
  th.header { text-align: center; }
</style>

<h3 id="age-setting">Age and Setting</h3> 

<p>Characters fall into one of four ages, and one of three settings of that age. </p>

<table>
  <tr><th class="header" colspan="2">Ancient</th></tr>
  <tr><th>Chasms</th><td>Epic fantasy.</td></tr>
  <tr><th>Faer</th><td>The Faerie people.</td></tr>
  <tr><th>Epic Heroes</th><td>Heroes and mythological figures up until 1400 AD.</td></tr>

  <tr><th class="header" colspan="2">Colonial</th></tr>
  <tr><th>Lands West</th><td>1800s Western America.</td></tr>
  <tr><th>Folktales</th><td>Folklore figures from 16th - 19th century.</td></tr>
  <tr><th>Horizons</th><td>History from 1400s to World War I.</td></tr>

  <tr><th class="header" colspan="2">Modern</th></tr>
  <tr><th>Underground</th><td>Mobsters and lawmen in the 20th century.</td></tr>
  <tr><th>Strange Times</th><td>Conspiracy theories and unexplained phenomena.</td></tr>
  <tr><th>Age of Crisis</th><td>History between World War II and the 2060's.</td></tr>

  <tr><th class="header" colspan="2">Future</th></tr>
  <tr><th>Starmarch</th><td>Hard Science Fiction.</td></tr>
  <tr><th>Altspace</th><td>Grand Space Opera.</td></tr>
  <tr><th>Forty Worlds</th><td>History beyond the 2060's.</td></tr>
</table>

<h3 id="circle">Circle</h3>

<p>Social class that a character feels at most home in.</p>

<table>
  <tr><th>Exemplars</th><td>The pure at heart.</td></tr>
  <tr><th>Defenders</th><td>Protectors and lawkeepers.</td></tr>
  <tr><th>Warriors</th><td>Skilled fighters.</td></tr>
  <tr><th>Commoners</th><td>Everyday people.</td></tr>
  <tr><th>Outcasts</th><td>Refugees from normal society.</td></tr>
  <tr><th>Villains</th><td>The dark side.</td></tr>
  <tr><th>Adventuers</th><td>Treasure-hunters and thrill-seekers</td></tr>
  <tr><th>Icons</th><td>The famous.</td></tr>
  <tr><th>Lords</th><td>Kings, queens, generals, leaders.</td></tr>
</table>

<h3 id="ratings">Character Ratings</h3>

<p>Physical, mental, and philosophical characteristics.</p>
<p>Note: some entries slightly modified.</p>

<table>
  <tr><th class="header" colspan="2">Basic</th></tr>
  <tr><th>Speed</th><td>Land speed; average human speed is 5.</td></tr>
  <tr><th>Health</th><td>Typical human health is 4.</td></tr>

  <tr><th class="header" colspan="2">Melee</th></tr>
  <tr><th>Wits</th><td>
      <p>Cunning, street smarts, cleverness, battle senses.</p>
      <ul>
        <li><p>9: World-class con man.</p></li>
        <li><p>7: Pickpocket.</p></li>
        <li><p>5: Street fighter.</p></li>
        <li><p>3: Officially sorority girl, but you can't say much for the stereotypical frat boy either.</p></li>
        <li><p>1: Officially farm-raised turkey, but I vote for chickens.</p></li>
      </ul>
  </td></tr>
  <tr><th>Melee</th><td>
      <p>Skill at hand-to-hand combat.</p>
      <ul>
        <li><p>9: Special ops kung fu master.</p></li>
        <li><p>7: Army private.</p></li>
        <li><p>5: Soccer fan.</p></li>
        <li><p>3: Angry untrained housewife. I say this because have you seen <em>Fullmetal Alchemist</em>?</p></li>
        <li><p>1: Officially spelling bee champion, but I vote for people who live in basements not exercising.</p></li>
      </ul>
  </td></tr>
  <tr><th>Power and Damage</th><td>
      <p>Damage caused by natural fists, claws, mandibles. Power is the ability of a weapon to penetrate armor, usually 2-3 for a human fist. Damage is average damage caused on a hit, and is usually 2.</p>
  </td></tr>

  <tr><th class="header" colspan="2">Ranged</th></tr>
  <tr><th>Aim</th><td><p>Steadiness, cool-headedness, concentration, vision quality. Used for weapons like rifles.</p></td></tr>
  <tr><th>Point</th><td><p>Hand-eye coordination, fluid and accurate upper body movements. Used for weapons like pistols and guns that don't require careful aiming.</p></td></tr>
  <tr><th>Throw</th><td>Throw strength and accuracy. Used for grenades, spears, shurikens, etc.</td></tr>

  <tr><th class="header" colspan="2">Defense</th></tr>
  <tr><th>React</th><td><p>Quckness and agility. Used against melee.</p>
      <ul>
        <li><p>9: Wind Warrior.</p></li>
        <li><p>7: Acrobat.</p></li>
        <li><p>5: Untrained cheerleader.</p></li>
        <li><p>3: Potbellied plumber UNLESS they're Mario.</p></li>
        <li><p>1: Zombie with torn ACL.</p></li>
      </ul>
  </td></tr>
  <tr><th>Stealth</th><td><p>Hide, sneak, avoiding getting shot. Used against ranged.</p>
      <ul>
        <li><p>9: Ninja.</p></li>
        <li><p>7: Elf.</p></li>
        <li><p>5: Country girl. (?)</p></li>
        <li><p>3: American tourist.</p></li>
        <li><p>1: Inebriated Elvis impersonater.</p></li>
      </ul>
  </td></tr>
  <tr><th>Armor</th><td><p>Protection of your clothing or skin.</p>
      <ul>
        <li><p>9: 700lbs of tinfoil</p></li>
        <li><p>7: Full plate.</p></li>
        <li><p>5: Breastplate.</p></li>
        <li><p>3: Heavy clothing.</p></li>
        <li><p>1: Trendy swimwear.</p></li>
      </ul>
  </td></tr>

  <tr><th class="header" colspan="2">Traits</th></tr>
  <tr><th>Strength</th><td><p>Muscle power and the experience to put it to use.</p>
      <ul>
        <li><p>9: Steroid test subject.</p></li>
        <li><p>7: Dock worker.</p></li>
        <li><p>5: Those guys in the end zone seats. (?)</p></li>
        <li><p>3: Computer gamers.</p></li>
        <li><p>1: Ripped pixes.</p></li>
      </ul>
  </td></tr>
  <tr><th>Intellect</th><td><p>Book learning, logic, and memory.</p>
      <ul>
        <li><p>9: Einstein.</p></li>
        <li><p>7: Einstein's accountant brother.</p></li>
        <li><p>5: Einstein during Oktoberfest.</p></li>
        <li><p>3: Einstein the Barbarian.</p></li>
        <li><p>1: Einstein's really smart cat.</p></li>
      </ul>
  </td></tr>
  <tr><th>Honor</th><td><p>How you treat others and hold to selfless standards.</p>
      <ul>
        <li><p>9: Saintly.</p></li>
        <li><p>7: Selfless.</p></li>
        <li><p>5: Give-and-take.</p></li>
        <li><p>3: Selfish.</p></li>
        <li><p>1: Grincy.</p></li>
      </ul>
  </td></tr>
  <tr><th>Respect</th><td><p>How others regard you.</p>
      <ul>
        <li><p>9: Rock star!</p></li>
        <li><p>7: Reality show contestent.</p></li>
        <li><p>5: Family man.</p></li>
        <li><p>3: Loser.</p></li>
        <li><p>1: Scum</p></li>
      </ul>
  </td></tr>
</table>

<h3 id="bonuses">Bonus Symbols</h3>

<p>Point-wise, every bonus symbol adds 7 points to one aspect (survival, ranged, melee, or adventure).</p>

<ul>
  <li><p><strong>Ranged Weapon</strong>:</p>
  <ul>
    <li>Auto Pistol</li>
    <li>Auto Rifle</li>
    <li>Bow</li>
    <li>Crossbow</li>
    <li>Energy Pistol</li>
    <li>Energy Rifle</li>
    <li>Grenade</li>
    <li>Heavy</li>
    <li>Long Pistol</li>
    <li>Long Rifle</li>
    <li>Powder Pistol</li>
    <li>Powder Rifle</li>
    <li>Revolver</li>
    <li>Thrown</li>
  </ul></li>
  <li><p><strong>Melee Weapon</strong>:</p>
  <ul>
    <li>Blade</li>
    <li>Brawler</li>
    <li>Swing</li>
    <li>Thrust</li>
  </ul></li>
  <li><p><strong>Other</strong> (as treated by the generator):</p>
  <ul>
    <li>Bot</li>
    <li>Gadget</li>
    <li>Medical</li>
    <li>Mount</li>
    <li>Pet</li>
    <li>Vehicle</li>
  </ul></li>
  <li><p><strong>Special</strong> (as treated by the generator):</p>
  <ul>
    <li>Armor</li>
    <li>Medical</li>
    <li>Stealth</li>
  </ul>
</ul>

