<h2>Character Generator Help</h2>

<h3>The Calculator</h3>
<p>This page calculates the value of a Duel of Ages II character based on stats, traits, bonuses, and special abilities. A character's value represents how strong the character is in game play; you don't want overpowered or underpowered characters.</p>
<p>A good guideline is reaching 500 points, give or take 3.</p>
<p>The calculator uses the <a href="http://www.duelofages.com/DoAII/LostLight">official algorithm</a> given out by the Worldspanner folks.</p>

<h3>The Card Generator</h3>
<p>If you have an HTML-5 compatible browser, you can also generate card images from data that you've input. If you're on Firefox or Chrome, you can additionally add a portrait to the card, with various options for fitting the portrait in---if you want the perfect fit, choose the "Cropped" option.</p>
<p>A limitation of the generator is that it can't deal with more complex variations on special ability text, such as lists. For that you should check out CorelDraw and use <a  href="https://docs.google.com/file/d/0By4uD_cay8nsUXd6VmpqenBEc2M/edit?usp=sharing">mltdwn's Corel card generator</a>.</p>

<h3>How is character value calculated?</h3>
<p>A character's value is broken down into four components:</p>
<ul>
  <li><p>Survival: When under attack, how well will this character survive?</p></li>
  <li><p>Melee: How strong is this character's natural melee attack?</p></li>
  <li><p>Ranged: How strong is this character's ranged attack? Special consideration is given if the character comes with their own intrinsic ranged weapon.</p></li>
  <li><p>Adventure: How well does this character do in the adventure phase?</p></li>
</ul>
<p>The total of all of these is the character's value.</p>

