// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#font-loader {
  color: #ffffff;
  .bold { font-family: 'Eras Bold'; }
  .demi { font-family: 'Eras Demi'; }
  .light { font-family: 'Eras Light'; }
  .medium { font-family: 'Eras Medium'; }
}

#calculator {
  float: left;
  background-color: black;
  color: white;
  width: 35em;
  display: table;
  padding: 0 0 0 0.5em;

  table { 
    float: left; 
    background-color: black; 
    color: white;

    .stat-title {
        color: yellow;
    }
  }

  th, td { 
    font-weight: normal;
    vertical-align: top;
  }
  
  input.number { width: 2em; }
  input.text { width: 20em; }
  textarea { 
    width: 20em;
    height: 10em;
  }
}
  
#breakdown-panel { 
    float: left;
    background-color: white;
    padding:0em 1em 0em 0em;
    width: 15%;
    minimum-width: 10em;
    height: 34em;

  .note { 
    font-size: 0.8em;
    font-style: italic;
  }

  .title {
    font-weight: bold;
    font-style: italic;
    display: block;
    margin-bottom: 0.25em;
  }
}

#total-value {
  font-weight: bold;
  font-size: 2em;
  display: block;
}

#output-window, #input-window, #save-window {
  position: absolute;
  background-color: white;
  color: black;
  padding: 1em;
  height: 15em;
  width: 30em;
  display: none;
  border: 1px solid #cccccc;

  textarea {
    font-size: 1em;
    width: 28em;
    height: 13em;
  }
}

#image-window, #image-editor-window {
  position: absolute;
  background-color: white;
  color: black;
  padding: 1em; 
  height: 28em; 
  width: 30em; 
  display: none;
  border: 1px solid #cccccc;
}

#image-description p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}

#progress-text {
  color: #0000dd;
}

#card-image { float: left; margin-right: 1em; }

#image-editor-window {
  overflow: scroll;
}

#image-editor { 
  float: left;
  margin: 0 1em 0 0;
}
