// Place all the styles related to the codex controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.codex th { 
  font-family: 'Eras Bold';
}
.codex th, .codex td { 
  padding: 0.25em;
}

#search-form { 
  margin: 1.5em;
}

#search-results .result { 
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 1.5em 0 1.5em 0;
  padding: 1em;
  background-color: #eee;
}
