@font-face {
  font-family: "Eras Bold"; 
  src: url("/fonts/ERASBD.TTF");
}
@font-face {
  font-family: "Eras Demi";
  src: url("/fonts/ERASDEMI.TTF");
}
@font-face {
  font-family: "Eras Light";
  src: url("/fonts/ERASLGHT.TTF");
}
@font-face {
  font-family: "Eras Medium";
  src: url("/fonts/ERASMD.TTF");
}
