<div id="sidebar">
  <div class="section">
    <span class="title">Character Generation</span>
    <ul>
      <li><%= link_to 'New Card', controller: '/characters', action: 'new' %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'My Cards', controller: '/users', action: 'view', id: current_user.id %></li>
      <% end %>
      <li><%= link_to 'Help', controller: '/characters', action: 'help' %></li>
      <li><a href="http://boardgamegeek.com/thread/1010922/doa-ii-character-value-calculator-v0-5">BGG Thread</a></li>
      <li><a href="http://boardgamegeek.com/thread/1011889/final-fan-revised-character-templates-for-coreldr/page/1">mltdown's CorelDraw scripts</li>
    </ul>
  </div>
</div>
