<div class="topnav">
  <ul class="topnav">
    <li><a href="http://lairoflith.com/">Lair of Lith</a></li>
    <li><a href="http://tribute.lairoflith.com/">Donate</a></li>
    <li><a href="/contact">Send Contact</a></li>
    <li><a href="http://duelofages.com/">Official DoA</a></li>
  </ul>
</div>
