<div class="topnav">
  <ul class="topnav">
    <li><a id="topnav_home" href="http://lairoflith.com/">Lair of Lith</a></li>
    <li><a id="topnav_donate" href="http://tribute.lairoflith.com/">Donate</a></li>
    <li><a id="topnav_patreon" target="_blank" href="http://patreon.com/BilboAtBagEnd">Patreon</a></li>
    <li><a id="topnav_bgg" target="_blank" href="http://boardgamegeek.com/article/13107069">BGG Thread</a></li>
    <li><a id="topnav_official" target="_blank" href="http://duelofages.com/">Official DoA</a></li>
    <li><a id="topnav_contrib" target="_blank" href="http://bilboatbagend.com/contributors/">Contributers</a></li>
  </ul>
</div>
